{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="{% static "css/base.css" %}" rel="stylesheet">
 

</head>

<body>


  <header class="custom-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'Connect-x.jpeg' %}" alt="Logo" height="50">  
        </a>
        <div class="navbar-text ml-auto">
          Connecting you to infinity
        </div>
      </div>
    </nav>
  </header>
  

  <div id="header">
    <span class="logo">Connect X</span>     
    {% if request.user.is_authenticated %}
    <ul class="menu">
      <li {% if section == "dashboard" %}class="selected"{% endif %}>
        <a href="{% url "dashboard" %}">My dashboard</a>
      </li>
      <li {% if section == "images" %}class="selected"{% endif %}>
        <a href="{% url "images:list" %}">Images</a>
      </li>
      <li {% if section == "text-post" %}class="selected"{% endif %}>
        <a href="{% url "post:home" %}">Posts</a>
      </li>
      <li {% if section == "people" %}class="selected"{% endif %}>
        <a href="{% url "user_list" %}">People</a>
      </li>
      <li {% if section == "events" %}class="selected"{% endif %}>
        <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">{{actions.count}}</span> <!-- your badge -->
        <a class="nav-link" href="{% url 'events' %}" >Messages <span class="sr-only">(current)</span></a>
    </li>
    
   
    
  {% endif %}
  <li {% if section == "about" %}class="selected"{% endif %}>
    <a href="{% url "about" %}">About Us</a>
  </li>
</ul>

  <span class="user">

    {% if request.user.is_authenticated %}

      Hello {{ request.user.first_name }},
      <a href="{% url "logout" %}">Logout</a>
    {% else %}
      <a href="{% url "login" %}">Log-in</a>
    {% endif %}
  </span>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for msg in messages %}
        <li class="{{ msg.tags }}">
          {{ msg|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

  <script>
    const csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
    });
  </script>
  {% block js %}

  {% endblock js %}
</body>
</html>
