{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
 
  {% with total_images_created=request.user.images_created.count %}
    <p>Welcome to your dashboard. You have uploaded {{ total_images_created }} image{{ total_images_created|pluralize }}.</p>
  {% endwith %}

  <p>Upload your images from here <a href="{% url 'images:create' %}" class="button">Upload it</a><p>
    <p>post your thought from here <a href="{% url 'post:post_create' %}" class="button">Post it</a><p>
  <p>You can also <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.<p>

  {% comment %} <h2>New Events</h2>
  <div id="action-list">
    {% for action in actions %}
      {% include "actions/action/detail.html" %}
    {% endfor %}
  </div> {% endcomment %}
  {% endblock %}
